.DS_Store
.last-package-update-day
auto-save-list
backups
config.el
custom.el
elpa
ido.last
projectile-bookmarks.eld
recentf
smex-items
bookmarks
config.pdf
config.tex
meghanada
tramp
cnfonts
eshell
transient
irony
/.mc-lists.el
.python-environments
.lsp-session-*
.cache
.dap-breakpoints
custom-variables.el
.extension
workspace
eclipse.jdt.ls
url
elpy
projectile.cache
projects
company-statistics-cache.el
eln-cache
straight